.faqContainer {
  width: 90%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 1rem 0;
}

.faqContainer h2 {
  font-weight: 500;
  font-size: 38px;
  padding-bottom: 0.5rem;
  padding-top: 2.5rem;
}
