/* Question Container */
.questionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* Each Individual Question */
.question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1.065rem 0.5rem;
  border-bottom: 0.5px solid rgba(211, 211, 211, 100%);
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}
/* Question Hover State */
.question:hover {
  background-color: rgba(247, 247, 247, 100%);
}
/* Keep the background color when question is clicked */
.active {
  background-color: rgba(247, 247, 247, 100%);
}
/* Plus / Minus Icons */
.icon {
  margin-right: 0.5rem;
  font-size: 1.3rem;
}
/* Answer */
.answer {
  font-size: 13.5px;
  font-weight: 500;
  line-height: 1.2rem;
  height: 0;
  overflow: hidden;
  padding-left: 2.5rem;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* Padding on the nested answer */
.answerOpen {
  padding: 1.5rem 0;
}
/* Links inside Answer */
.answer a {
  color: rgba(114, 226, 209, 100%);
  text-decoration: none;
}
/* Link hover state inside Answer */
.answer a:hover {
  color: rgb(90, 194, 178);
}
/* Bold text in Answer */
.answer strong {
  font-size: 15px;
  font-weight: 800;
}
