/* Hero Image Container */
.heroContainer {
  height: 60vh;
  width: 100vw;
}
.imageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/* Hero Image */
.heroContainer img {
  height: 60vh;
  width: 100vw;
  -o-object-fit: cover;
  object-fit: cover;
  margin: 0 auto;
}
/* Hero Text Container */
.heroText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
}
/* 'Contact Us' Text */
.heroContainer p {
  color: #ffffff;
  font-weight: 500;
  font-size: 36px;
}

@media (max-width: 798px) {
  .heroContainer {
    height: 100%;
  }
  .heroContainer img {
    height: 100%;
  }
  .heroText {
    height: 100%;
  }
}
