/* Banner Container */
.bannerContainer {
  height: 3.05rem;
  background-color: rgba(237, 236, 236, 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
/* Social Icons and '7 million' */
.leftSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 1rem;
}
/* Social Icons */
.socialIconSection .socialIcon {
  margin-right: 0.5rem;
  font-size: 18px;
}
.leftSection p {
  font-size: 14px;
  font-weight: 500;
  margin-left: 0.5rem;
}
/* Right Section */
.rightSection {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
/* Right Section Icons */
.rightSection .icon {
  padding: 0 0.4rem;
  font-size: 2rem;
  height: 100%;
  cursor: pointer;
}
/* Present Icon */
.rightSection .present {
  color: white;
}
/* Shopping Icon */
.rightSection .shopping {
  background-color: black;
  color: white;
}

@media (max-width: 800px) {
  .bannerContainer {
    display: none;
  }
}
